.flex-box{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.flex-box-height{
    display: flex;
    height: 150px;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
}

.flex-box-height>p{
    padding: 5px;
    background-color: aliceblue;
}

.flex-box-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-box-height-wrap{
    display: flex;
    min-height: 150px;
    height: 150px;
    background-color: lavender;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}