@import url(./선택자.css);

@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

input[type="button"]{
    cursor: pointer;
    background-image: url(./img/cat-g5649882d2_1920.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 30px;
}

input[type="button"]:hover{
    background-image: url(./img/bird-gc7f8e4d6d_1920.jpg);
}

.font{
    font-family: 'PyeongChangPeace-Light';
}

.gradient{
    height: 50px;
    background: -webkit-linear-gradient(right, white, rgba(0, 0, 255, 0.3), cornflowerblue, lightblue, white);
}

.gradient2{
    height: 50px;
    background: -webkit-linear-gradient(0deg, white, rgba(0, 0, 255, 0.3), cornflowerblue, lightblue, white);
}

body{
    background: -webkit-linear-gradient(90deg, #d5c2f39a, #ffffff00);
}

.gradient-circle{
    width: 150px;
    height: 150px;
    background: -webkit-radial-gradient(closest-side, red, orange, yellow, green, blue, indigo, purple);
}

.box-shadow{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    box-shadow: 3px 3px 2px white;
}

.background{
    background-image: url(./img/billiard-ball-g8f5bf66d3_1920.jpg), url(./img/cat-g5649882d2_1920.jpg);
    height: 300px;
    background-repeat: repeat;
    background-size: 100px 100px
}

.background2{
    width: 600px;
    height: 300px;
    border: white solid 5px;
    padding: 30px;
    background-image: url(./img/billiard-ball-g8f5bf66d3_1920.jpg);
    background-size: 100px 100px;
}

.background3{
    background-image: url(./img/bird-gc7f8e4d6d_1920.jpg);
    font-size: 2rem;
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
}

.border-image{
    border-image-source: url(./img/border.png) 30%;
}

.text{
    word-break: keep-all;
    background-color: thistle;
    height: 70px;
    /* 각 콘텐츠의 값이 넘쳤을 때 어떻게 보일지 설정 ↓ */
    overflow: hidden;
    /* 글자가 그 크기를 넘어갔을 때의 모습을 설정 ↓ */
    text-overflow: ellipsis;
    /* 글자가 자동 줄바꿈이 있는지 확인 ↓ */
    white-space: pre-wrap;
}

.text-kr{
    width: 200px;
    height: 20px;
    background-color: honeydew;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}