.outbox p{
    background-color: yellow;
}
.outbox>p{
    background-color: skyblue;
}
.sibling~p{
    background-color: cadetblue;
}
/* +를 사용할 때는 바로 뒤에 있는 태그만 찾을 수 있다 */
.sibling+a{
    background-color: azure;
}
.sibling+p{
    background-color: azure;
}

.sibling~.test{
    background-color: burlywood;
}

.input-focus:focus{
    background-color: cornflowerblue;
    color: white;
}

.input-focus:focus+p{
    color: blue;
}
.state>input:checked+span{
    color: gray;
}
.state>input:disabled+span{
    text-decoration: line-through 1px solid;
}

.menu-list>li:first-child{
    background-color: cadetblue;
}
.menu-list>li:last-child{
    background-color: cornflowerblue;
}
.menu-list>li:nth-child(2n){
    background-color: pink
}
.menu-list>li:nth-child(3n){
    background-color: lightblue;
}

.table-color{border-collapse: collapse;}

.table-color tr:nth-child(2n){
    background-color: yellow;
}

.child-tag>p:first-child{
    color: cornflowerblue;
}
.child-tag>h1{
    color: brown;
}

/* 클래스를 지정하고 자손으로 타입 찾기 */
/* first-child와 동일한 역할 */
.of-type>p:first-of-type{
    background-color: bisque;
}

.first-letter:hover::first-letter{
    color: blueviolet;
    font-size: 1.5rem;
}

.first-line::first-line{
    color: cornflowerblue;
    font-size: 1.5rem;
    font-style: italic;
}

.before::before{
    /* content 명령어를 넣어서 내용 추가 */
    /* 글자 추가 or url을 통해 이미지 추가도 가능 */
    content: "추가";
    color: blue;
}

.before-image::before{
    /* content로 jpg이미지 파일을 가지고 왔을 때 크기 수정에 어려움 발생 */
    /* 크기 수정이 가능한 background-image로 추가 */
    content: "";
    background-image: url(./img/bird-gc7f8e4d6d_1920.jpg);
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.before-color::before{
    content: "";
    background-color: rgb(50, 92, 170);
    /* content에 글자가 없을 때, inline-block을 사용하여 공간을
    임의로 생성하여 색상을 표시할 수 있다 */
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.after::after{
    /* content 속성을 사용 */
    content: "추가";
    color: blue;
    background-color: yellow;
    padding: 5px;
    border-radius: 20px;
}

.after-color:hover:after{
    content: "";
    width: 110px;
    height: 30px;
    background-color: rgba(0, 255, 0, 0.5);
    display: inline-block;
    position: absolute;
    left: 0;
}

.attr>input[type="checkbox"]:checked+span{
    color: cadetblue;
}

.attr>input[type="radio"]:checked+span{
    text-decoration: underline wavy blueviolet;
}

.attr>input[type="button"]:hover{
    background-color: black;
    color: white;
}

.attr>input[type="radio"][value="group"]{
    /* 두 개 이상의 속성 이름과 속성값을 가진 태그를 찾을 수 있다 */
}